@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#right {
    float: right;
}

h1 {
    text-align: center;
}

.top-row {
    margin-bottom: 100px;
}

.vagter-ting {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

.input-box{
    justify-content: center;
}

.rz-card {
    margin-left: auto;
    margin-right: auto;
}

.shifts {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-top: 10%;
}

.modal-dialog{
    max-width: 1200px !important;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.w-7 {
    width: 500px;
    margin: 7px;
    border-width: 2px;
    border-color: darkgray;
}

.w-6 {
    width: 1050px;
    background: #E0E0E0 !important;
    margin-bottom: 10px;
}

.w-1 {
    width: 622px;
    background: #E0E0E0 !important;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
