@inject HttpClient Http

<div class="modal fade show" id="myModal" style="display:block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Alle kuponer</h3>
            </div>
            <div class="modal-body">
                @if (coupons == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    Data="@coupons" TItem="Coupon">
                        <Columns>
                            <RadzenDataGridColumn TItem="Coupon" Property="coupon_id" Title="ID" Width="70px" />
                            <RadzenDataGridColumn TItem="Coupon" Property="description" Title="Beskrivelse" />
                            <RadzenDataGridColumn TItem="Coupon" Property="price" Title="Pris" />
                                               
                        </Columns>
                    </RadzenDataGrid>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@ModalOk">Luk</button>
            </div>
        </div>
    </div>
</div>

@code {

    public Coupon[] coupons;

    protected async override Task OnInitializedAsync()
    {
        coupons = await Http.GetFromJsonAsync<Coupon[]>("api/coupon");
    }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }


    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }
}
